@media(min-width: 280px) {
  .Header {
    width: 100%;
    height: 500px;
    /* background-image: url('/conifer_tree.png'); */
    background-image: url('/watches.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .H1s {
    flex: 0 0 auto;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }

  .H1 {
    color: var(--title-color); 
  }

  .H2 {
    color: var(--title-color);
  }

  .ShopNowDiv {
    flex: 0 0 auto;
    margin-left: 1rem;
  }

  .ShopNowBtn {
    padding: 0 1rem 0.2rem 1rem;
    border: 1px solid var(--shopnow-btn-color);
    background: none;
    outline: none;
    color: var(--shopnow-btn-color);
  }
}