
@media(min-width: 280px) {
  .Article {
    flex: 0 0 auto;
    color: black;
  }

  .DescDiv {
    margin-top: 9rem;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .H1 {
    flex: 0 0 5rem; 
    margin: 0 1rem;
  }

  .P {
    flex: 0 0 10rem;
    width: 90%; 
  }

  .FourSquareImgs {
    display: flex;
    flex-direction: column;
  }

  .FourSquareImgRow {
    flex: 1 1 auto;
    height: auto;
    display: flex;
  }

  .FourSquareImgRow:nth-child(1) .FourSquareImgDiv:nth-child(1) {
    background-image: url('/lamp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  }
  .FourSquareImgRow:nth-child(1) .FourSquareImgDiv:nth-child(2) {
    background-image: url('/chess_lightbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .FourSquareImgRow:nth-child(2) .FourSquareImgDiv:nth-child(1) {
    background-image: url('/coffee_comp.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
  }
  .FourSquareImgRow:nth-child(2) .FourSquareImgDiv:nth-child(2) {
    background-image: url('/gadget_attire.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
  }
}
@media(min-width: 500px) {
  .H1 {
    
  }

  .P {
    flex: 0 0 10rem;
    width: 90%; 
  }
}

@media(min-width: 600px) {
  .H1 {
  }

  .P {
    flex: 0 0 10rem;
    width: 80%; 
  }
}

@media(min-width: 700px) {
  .H1 {
  }

  .P {
    flex: 0 0 10rem;
    width: 70%; 
  }
}