
@media(min-width: 280px) {
  .Article {
    flex: 0 0 auto;
    color: black;
    background-color: #CCC;
  }

  .FourSquareImgs {
    display: flex;
    flex-direction: column;
  }

  .FourSquareImgRow {
    flex: 1 1 auto;
    height: auto;
    display: flex;
  }

  .FourSquareImgRow:nth-child(1) .FourSquareImgDiv:nth-child(1) {
    background-color: green;
  }
  .FourSquareImgRow:nth-child(1) .FourSquareImgDiv:nth-child(2) {
    background-color: blue;
  }
  .FourSquareImgRow:nth-child(2) .FourSquareImgDiv:nth-child(1) {
    background-color: black;
  }
  .FourSquareImgRow:nth-child(2) .FourSquareImgDiv:nth-child(2) {
    background-color: red;
  }

}