
@media(min-width: 280px) {
  .Article {
    flex: 0 0 auto;
    color: black;
    background-color: #CCC;
  }

  .H1 {
    width: 100%;
    height: 3rem;
  }

  .ProdCarousel {
    width: 100%;
    height: 100%;
  }

}