
@media(min-width: 280px) {
  .Article {
    flex: 0 0 auto;
    color: black;
    background-color: white; 
    text-align: center;
  }

  .H1 {
    width: 100%;
    height: 3rem;
    text-align: center;
  }

  .ProdCarouselSec {
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .Carousel {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

  .CarouselBtn {
    height: 4rem;
    align-self: center;
    background: none;
    border: none;
    outline: none;
  }
  .CarouselBtn:hover {
    cursor: pointer;
  }

}